body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #ffff;
}

.chat-amrai-container {
  display: grid;
  grid-template-columns: 6fr 1fr;
  flex-direction: column;
  height: 100vh;
}

.header {
  background-color: #000;
}

.logo {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
}

.nav-links a {
  color: #fff;
  margin-left: 20px;
  text-decoration: none;
  font-size: 16px;
}

.main-content {
  padding: 12px 0 20px 20px;
}

.form-and-response {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  height: 87vh;
}

.submit-btn {
  padding: 7px;
  border: none;
  background-color: #000;
  color: #fff;
  font-size: 1em;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #444;
}

.response {
  margin: 0 48px 0 28px;
  overflow-y: auto;
  scroll-behavior: smooth;
  overflow-wrap: break-word;
  min-height: 71vh;
  scrollbar-width: auto;
  padding: 20px;
  width: 100%;
}

.response p {
  white-space:pre-line;
  align-self:start;
}

.recent-prompts {
  flex: 1;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 32px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  min-height: 100vh;
  
}

.prompt-form {
  margin: 0 11rem;
  display: flex;
  border: 1px solid black;
}
aside {
  background: #f4f4f4;
}
input {
  flex: 1;
  margin: 0 auto;
}
.recent-prompts h2 {
  margin-bottom: 10px;
  color: #747171;
}

.recent-prompts ul {
  list-style: none;
  padding: 0;
}

.recent-prompts li {
  position: relative;
  font-weight: bold;
  font-size: 0.9rem;
  padding: 5px 2px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
  transition: background-color 0.3s;
}

.footer {
  background-color: #000;
  background: #f4f4f4;
  padding: 20px;
  text-align: center;
}

.footer-links {
  margin-top: 10px;
}

.footer-links a {
  color: #fff;
  margin: 0 10px;
  text-decoration: none;
  font-size: 14px;
}

.footer-links a:hover {
  text-decoration: underline;
}

.greeting {
  background: linear-gradient(16deg, #4b90ff, #ff5546);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.loader {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.loader hr {
  border-radius: 4px;
  border: none;
  background: linear-gradient(to right, #9ed7ff, #ffffff, #9ed7ff);
  background-size: 800px 50px;
  height: 20px;
  animation: loader 3s infinite linear;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  -webkit-animation: loader 3s infinite linear;
}

@keyframes loader {
  0% {
    background-position: -800px 0px;
  }
  100% {
    background-position: 800px 0px;
  }
}

.result-data p {
  font-size: 17px;
  font-weight: 300;
  line-height: 1.8;
}
.bottom {
  display: flex;
  flex-direction: column;
}

.bottom-item {
  padding-right: 10px;
  cursor: pointer;
}

.recent-entry {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-radius: 50px;
  cursor: pointer;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  font-size: 14px;
  font-weight: bold;
}

span {
  font-family: "Poppins", sans-serif;
}

